# Copyright (c) 2025 Vincent Franco
# SPDX-License-Identifier: MIT

if BOARD_LEVELS54_LEFT

config BOARD
  default "level54 left"

endif # BOARD_LEVELS54_LEFT

if BOARD_LEVELS54_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
  default y

config ZMK_KEYBOARD_NAME
  default "Levels54 "

config BOARD
  default "level54 right"

endif # BOARD_LEVELS54_RIGHT

if BOARD_LEVELS54_LEFT || BOARD_LEVELS54_RIGHT

config ZMK_SPLIT
  default y

config BT_CTLR
  default BT

config PINCTRL
  default y

if USB

config USB_NRFX
  default y

config USB_DEVICE_STACK
  default y

endif # USB

config SPI
  default y

endif # BOARD_LEVELS54_LEFT ||  BOARD_LEVELS54_RIGHT
